.footer{
    /* border: solid black; */
    position: fixed;
    bottom: 0;
    width: 97%;
    background-color: #282828;
    height: 62px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.footer_left{
    flex: 0.3;
    display: flex;
    max-width: 300px;
    align-items: center;
    color: white;
}

.footer_center{
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.footer_albumlogo{
    height: 60px;
    width : 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_right{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.footer_songInfo > h4{
    margin-right: 5px;
}

.footer_songInfo > p{
    font-size: 12px;
}

.footer_icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_green{
    color: #6e6e6e;
}

.footer_right * .MuiSlider-root {
    color: #6e6e6e;
  }

.footer_right * .MuiSlider-root:hover{
    color: rgb(4, 119, 4);
}